html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.grid-item {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

h1 {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}
